<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUBundleName</key>
	<string>Boring Notch</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>NSAudioCaptureUsageDescription</key>
	<string>boring.notch analyzes audio from your music app to draw a real-time waveform in the notch. Audio is processed locally and never leaves your Mac.</string>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://TheBoredTeam.github.io/boring.notch/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>B1Y47t8C/v8ImurYA+9arEsuCrpxwJSviekiflMElbI=</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
